// partie right
%bulleGit
{
    h2
    {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }
    .ligne
    {
        display: flex;
        justify-content: center;
        border: 2px white solid;
    }
    .containerText
    {
        display: flex;
        flex-flow: row;
        .containerTextL
        {
            display: flex;
            flex-flow: column;
            font-weight: bold;
            width: 40%;
        }
        .containerTextR
        {
            display: flex;
            flex-flow: column;
            width: 40%;
        }
    }
}

.bulle1Right
{
    background-color: #dfe0e0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;

    @extend %bulleGit ;
}

.bulle2Right
{
    background-color: #dfe0e0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;
    
    @extend %bulleGit;
}

.bulle3Right
{
    background-color: #dfe0e0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;
    
    @extend %bulleGit;
}
.bulle4Right
{
    background-color: black;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;    
    h2
    {
        font-size: 3em;
        margin: 0;
        text-align: center;
        color: white;
    }
    .ligne
    {
        display: flex;
        justify-content: center;
        border: 2px white solid;
    }
    .containerText
    {
        display: flex;
        flex-flow: row;
        .containerTextL
        {
            display: flex;
            flex-flow: column;
            font-weight: bold;
            width: 40%;
            color: #2eb052;
        }
    }
}
.boxRight
{
    display: flex;
    flex-flow: column;
    gap: 50px;
}
.containerBottom
{
    display: flex;
    flex-flow: row;
    .bottomRight
    {
        width: 50%;
        display: flex;
        justify-content: center ;
    }
}
.bottomLeft
{
    width: 50%;
}
/*box lift*/

.titre {
    font-size: 40px;
    margin: 20px;
}

.sous-titre {
    color: green;
    margin: 20px;
}
.version-local{
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    width: 70%;
    margin: 20px;
    display: flex;
    flex-flow: column;
    

}
.local{
    width: 95%;
    margin: 20px;
}
.h2{
margin: 20px;
}
.p{
display: flex;
flex-flow: column;

}
.commits{
    border: 1px solid green;
    background-color:#dfe0e0;
    border-radius: 10px;
    width: 70%;
    margin: 20px;
    
}
.commits-trait{
    width: 95%;
}
.p-commits{
margin: 20px;
}
.commitsh2{
margin: 20px;
}
.depot{
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    width: 70%; 
    margin: 20px;
}
.separation-depot{
    width: 95%;
}
.separation-depot{

}
.depoth2{
margin: 20px;
}
.p-depot{
    margin: 20px;
}