@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: jost;
    background-color: #dfe0e0;
}

.main_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 80vw;
    margin: 100px auto;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        padding: 50px 0;
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 20px;


        @media screen and (min-width: 768px) {
            margin: 20px;
            width: 40vw;
        }

        &__title {
            font-size: 20px;
        }

        &__logo {
            width: 200px;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 10px;


        @media screen and (min-width: 768px) {
            width: 60vw;
        }

        &__title {
            font-size: 20px;
        }

        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_identity {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &__lastname {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;

                }

                &__firstname {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;

                }
            }

            &__mail {
                margin: 5px;
                padding: 8px;
                border: solid 1px #212121;
            }

            &_password {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center; 

                &__first {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;
                }

                &__confirm {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;

                }
            }

            &__send {
                margin: 5px;
                border: none;
                background-color: #212121;
                color: white;
                padding: 10px 0;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #2ea44e;
                    cursor: pointer;
                }
            }

            &__connexion {
                margin-left: 5px;
            }
        }
    }
}