
.containerAll
{
    display: flex;
    flex-flow: row;
    padding: 40px;
    @media screen and (max-width: 992px)
    {
        display: flex;
        flex-flow: wrap;
    }
}

// partie right
%bulleGit
{
    h2
    {
        font-size: 3em;
        margin: 0;
        text-align: center;
        @media screen and (max-width: 768px)
        {
            font-size: 2em;
        }
    }
    .ligne
    {
        display: flex;
        justify-content: center;
        border: 2px white solid;
    }
    .containerText
    {
        display: flex;
        flex-flow: row;
        padding: 2%;
        .containerTextL
        {
            display: flex;
            flex-flow: column;
            font-weight: bold;
            width: 40%;
        }
        .containerTextR
        {
            display: flex;
            flex-flow: column;
            width: 70%;
            text-align: center;
        }
    }
}

.bulle1Right
{
    background-color: #dfe0e0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;

    @extend %bulleGit ;
}

.bulle2Right
{
    background-color: #dfe0e0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;
    
    @extend %bulleGit;
}

.bulle3Right
{
    background-color: #dfe0e0;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%;
    
    @extend %bulleGit;
}
.bulle4Right
{
    background-color: black;
    border-radius: 15px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 1%; 
    h2
    {
        font-size: 3em;
        margin: 0;
        text-align: center;
        color: white;
        @media screen and (max-width: 768px)
        {
            font-size: 2em;
        }
    }
    .ligne
    {
        display: flex;
        justify-content: center;
        border: 2px white solid;
    }
    .containerText
    {
        display: flex;
        flex-flow: row;
        padding: 2%;
        .containerTextL
        {
            display: flex;
            flex-flow: column;
            font-weight: bold;
            width: 40%;
            color: #2eb052;
        }
    }
}
.boxRight
{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
}
.containerBottom
{
    display: flex;
    flex-flow: row;
    .bottomRight
    {
        width: 50%;
        display: flex;
        justify-content: center ;
        align-items: center;
        @media screen and (max-width: 768px)
        {
            display: none;
        }
        img
        {
            width: 330px;
            height: 300px;
        }

    }
}
.bottomLeft
{
    width: 50%;
    @media screen and (max-width: 768px)
        {
            width: 100%;
        }
}
/*box lift*/

.box-left
{
    width: 100%;
}

.titre {
    font-size: 40px;
    margin: 20px;
    font-size: 3.5em;
}

.sous-titre {
    color: green;
    margin: 20px;
    font-size: 2em;
}
.version-local{
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-flow: column;
    

}
.local{
    width: 95%;
    margin: 20px;
}
.h2{
margin: 20px;
}
.p{
display: flex;
flex-flow: column;

}
.commits{
    border: 1px solid green;
    background-color:#dfe0e0;
    border-radius: 10px;
    margin: 20px;
    
}
.commits-trait{
    width: 95%;
}
.p-commits{
margin: 20px;
}
.commitsh2{
margin: 20px;
}
.depot{
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    margin: 20px;
}
.separation-depot{
    width: 95%;
}
.separation-depot{

}

.depoth2{
margin: 20px;
}
.p-depot{
    margin: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body_ben {
    font-family: jost;
    background-color: #dfe0e0;
}

.main_register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    width: 80vw;
    margin: 100px auto;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        padding: 50px 0;
    }

    &_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        margin: 20px;


        @media screen and (min-width: 768px) {
            margin: 20px;
            width: 40vw;
        }

        &__title {
            font-size: 20px;
        }

        &__logo {
            width: 200px;
        }
    }

    &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        margin: 10px;


        @media screen and (min-width: 768px) {
            width: 60vw;
        }

        &__title {
            font-size: 20px;
        }

        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &_identity {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &__lastname {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;

                }

                &__firstname {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;

                }
            }

            &__mail {
                margin: 5px;
                padding: 8px;
                border: solid 1px #212121;
            }

            &_password {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center; 

                &__first {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;
                }

                &__confirm {
                    margin: 5px;
                    padding: 8px 0px;
                    border: solid 1px #212121;
                    text-indent: 8px;

                }
            }

            &__send {
                margin: 5px;
                border: none;
                background-color: #212121;
                color: white;
                padding: 10px 0;
                transition: all 0.2s ease;

                &:hover {
                    background-color: #2ea44e;
                    cursor: pointer;
                }
            }

            &__connexion {
                margin-left: 5px;
            }
        }
    }
}